body{
    background-color: rgb(255, 238, 162);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#flappy{
    padding-right: 7em;
    padding-left: 7em;
    padding-bottom: 17.5em;
    text-decoration: none;
    margin-left: 25vh;
    font-size: 3.5vh;
    border-radius: 1em;
    outline-width: 1.67vh;
    outline-color: rgb(109, 105, 105);
    outline-style:solid;
    color: rgb(0, 4, 255);
    background-image: url("fall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#h1{
    text-align: center;
    font-size: 5em;
}
