body{
    background-color: rgb(255, 238, 162);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
#flappy{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
#flappytext{
    display: block;
    height: 40em;
    transition: 0.2s ease-in-out;
    margin: 1em;
}
#flappytext:hover{
    transform: scale(1.05);
}
#flappytext img{
    height: 100%;
}
#h1{
    text-align: center;
    font-size: 5em;
}
